* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Nunito", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  user-select: none;
}

#snackbar {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: .7rem 1rem;
  font-size: 1.1rem;
  color: #fff;
  border-radius: .6rem;
  background-color: #313131;

  button {
    padding: .5rem 1.1rem;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Nunito', system-ui, -apple-system, Roboto;
    border-radius: .2rem;

    &:hover {
      background-color: #a7a7a71f;
    }
  }
}

body {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  display: flex;

  .left-side {
    height: 100%;
    width: 40%;
    background-color: #4894a7;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.4rem;

    span {
      text-align: center;
    }

    button {
      padding: 0.6rem 3.2rem;
      background-color: transparent;
      border-radius: 1.5rem;
      border: 1px solid #fff;
      color: #fff;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-family: "Nunito";
      cursor: pointer;
    }
  }

  .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 1.6rem;
    background-color: #fff;

    h1 {
      color: #4894a7;
    }

    form {
      width: 55%;
      display: flex;
      flex-direction: column;
      gap: 1.4rem;

      input {
        background-color: #4894a729;
        border: none;
        padding: 1rem 1.5rem;
        border-radius: 1.4rem;
        width: 100%;
        font-size: 1rem;
      }

      .remember-me {
        display: flex;
        gap: 0.6rem;
        font-size: 1.1rem;
        margin-top: 1rem;
        justify-content: center;

        input {
          width: 1rem;
          scale: 1/1;
        }
      }
    }

    .sign-up-form {
      width: 92%;
      flex-direction: row !important;
      flex-wrap: wrap;
      justify-content: center;

      input {
        width: 45%;
      }
    }

    button {
      padding: 0.8rem 4rem;
      border: none;
      background-color: #4894a7;
      border-radius: 1.8rem;
      font-size: 1.1rem;
      font-family: "Nunito";
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
    }

  }

  .sign-up {
    display: none;
  }
}